.sport-card {
    width: 200px;
    height: 250px;
    background-color: #41B1BE;
    border-radius: 8px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.sport-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sport-icon-container {
    background-color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 50%;
}

.sport-icon {
    transform: scale(3.0);
}

.sport-title {
    font-size: 1.2em;
    text-align: center;
    color: white;
    line-height: 20px; /* Ensure vertical alignment */
    overflow: hidden; /* Hide overflow if needed */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    margin: 2px;
}

.skill-level-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.skill-level-btn {
    margin: 10px;
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.skill-selected {
    background-color: #41BE8D;
    color: white;
}

.save-btn {
    display: flex;
    margin: auto;
    margin-top: 20px;
}