.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CFE4E6;
    height: 10vh;
}

.logo img {
    max-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right-content {
    position: absolute;
    right: 30px;
    font-size: 1.5em;
}

.right-content a {
    text-decoration: none;
    font-weight: bold;
}