* {
  box-sizing: border-box;
}

.auth-page {
  display: flex;
  height: 100vh; /* Ensure full viewport height */
}

.auth-body {
  width: 75vw;
  opacity: 85%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.auth-body-content {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  max-width: 48vw;
}

.auth-body-paragraph ul {
  list-style-type: disc;
  margin-left: 20px;
}

.auth-body-paragraph li {
  font-size: 2em;
  margin-bottom: 20px;
}

.auth-body-title {
  font-size: 6.5em;
}

.auth-body::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: #41BE8D; 
  clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 40% 0%);
  z-index: 1;
}

.auth-login {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
  padding-right: 100px; 
}

.auth-back-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-bottom: 10px;
}

.auth-back-header .auth-back-icon-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #41B1BE;
  width: 80px;
  color: white;
}

.auth-login-content {
  min-width: 25vw; 
  padding: 20px;
  background-color: #CFE4E6; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  min-height: 65vh;
}

.auth-login-form {
  width: 100%; 
  padding: 50px;
  text-align: center;
}

#auth-login-title {
  font-size: 3em; 
  margin-bottom: 10px; 
  font-weight: 500;
  text-align: center;
}

.auth-login-form .input {
  height: 60px;
  margin-top: 10px;
}

.auth-login-form button {
  margin-top: 40px;
}

.validation-err {
  color: #e11d48;
  margin-top: 5px;
}