.game-card {
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.top-half {
    padding: 15px;
    width: 100%;
    height: 50%;
    background-color: #41BE8D; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    white-space: normal;
}

.bottom-half {
    padding: 15px;
    width: 100%;
    height: 50%;
    background-color: #fcfcfc; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    white-space: normal;
}
