.home-container {
    min-height: 92vh;
}

.search-container {
    display: flex;
    width: 100vw;
    height: 15vh;
    margin: auto;
    /* background-color: #4172BE; */
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.search-bar {
    width: 50vw;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    position: relative;
}

/* input[type="text"] {
    width: calc(100% - 10px); 
    padding-right: 40px; 
    border-radius: 2px;
    height: 30px;
    padding-left: 5px;
    border: 2px solid #ccc; 
} */

.search-icon {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px; 
    cursor: pointer;
}

.search-filter {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.filter-entry {
    padding: 5px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    color: #007bff; 
    text-decoration: underline;
}

.filter-options button {
    color: #007bff; 
    text-decoration: underline;
}

.filter-options button:hover {
    color: #0056b3;
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
    z-index: 10;
    top: 140px;
    min-width: 10vw;;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-icon {
    cursor: pointer;
}


