.navigation-bar {
    background-color: #f3f3f3;
}

.nav-logo {
    width: 140px;
}

.nav-profile {
    border-radius: 20px;
    color: #000;
}

.nav-dropdown {
    background-color: rgb(228, 228, 228);
    color: #000;
}

.create-game-button {
    background-color: #41be8d;
}

.login-button {
    background-color: #41be8d;
}